Repository DanielNijkamp/PVB, pull requests merged in 2024-05, with the labels that each got.

#23 Made leveldesign lightmatching puzzle
  Assets/Scenes/Art/Lightmatching.unity
  Assets/Scenes/Art/Lightmatching.unity.meta
Labels: Ready for Review, Art, Approved, Ready for Merge

#31 Hotfix/corridor
  Assets/Animations/Door/Close.anim
  Assets/Animations/Door/Model_Door_V1.controller
  Assets/Animations/Door/Open.anim
  Assets/Prefab/Gameflow/Corridor.prefab
  Assets/Prefab/Gameflow/Doors.prefab
  Assets/Prefab/PuzzlePrefabs/LightSequence.prefab
  Assets/Prefab/PuzzlePrefabs/light&shadowRoom_Splitroom_V4 Variant.prefab
  Assets/RiderFlow.UserData/Editor/Scenes/Sections.Map/bda31b0011fa55c4980b62b40feb02fe.userdata
  Assets/RiderFlow.UserData/Editor/Scenes/Sections.Map/bda31b0011fa55c4980b62b40feb02fe.userdata.meta
  Assets/Scenes/Feature/PuzzleFlow.unity
  Assets/Scripts/Gameflow/AnimationInit.cs
  Assets/Scripts/Gameflow/Corridor.cs
  Assets/Scripts/Gameflow/PlayerTeleporter.cs
  Assets/Scripts/Gameflow/Transition.cs
Labels: Ready for Review, Hotfix, Approved, Ready for Merge

#35 Character
  Assets/Animations/Character.meta
  Assets/Animations/Character/Animation_Character_All_V1.controller
  Assets/Animations/Character/Animation_Character_All_V1.controller.meta
  Assets/Animations/Character/Animation_Character_All_V1.fbx
  Assets/Animations/Character/Animation_Character_All_V1.fbx.meta
  Assets/Art/Textures/Character.meta
  Assets/Art/Textures/Character/Materials.meta
  Assets/Art/Textures/Character/Materials/character texture 1.mat
  Assets/Art/Textures/Character/Materials/character texture 1.mat.meta
  Assets/Art/Textures/Character/Materials/character texture.mat
  Assets/Art/Textures/Character/Materials/character texture.mat.meta
  Assets/Art/Textures/Character/character texture.png
  Assets/Art/Textures/Character/character texture.png.meta
Labels: Ready for Review, Art, Approved

#34 horfix pillar colliders
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/LogConfiguration/backend-log.xml.meta
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/LogConfiguration/frontend-log.xml.meta
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/Resources/ReEditor/RiderDark.xml.meta
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/Resources/ReEditor/RiderLight.xml.meta
  Assets/Prefab/PuzzleComponents/Pillars/Model_LightingPuzzle1_Circle_V2.prefab
  Assets/Prefab/PuzzleComponents/Pillars/Pillar(2).prefab
  Assets/Prefab/PuzzleComponents/Pillars/Pillar(3).prefab
  Assets/Prefab/PuzzleComponents/Pillars/Pillar(4).prefab
  Assets/Prefab/PuzzleComponents/Pillars/Pillar.prefab
  Assets/Scripts/Player/Interaction/Grabable.cs
  Assets/Scripts/Puzzles/Pillars/Pillar.cs
  ProjectSettings/DynamicsManager.asset
  ProjectSettings/TagManager.asset
Labels: Ready for Review, Hotfix, Approved, Ready for Merge

#36 Hotfix/camera rework
  Assets/Prefab/Gameflow/Corridor.prefab
  Assets/Prefab/Player.prefab
  Assets/Prefab/PuzzleComponents/LightSequence/Puzzle Components.prefab
  Assets/Prefab/PuzzleComponents/LightSequence/Puzzle Components.prefab.meta
  Assets/Prefab/PuzzleComponents/Pillars/Model_LightingPuzzle1_Circle_V2.prefab
  Assets/Prefab/PuzzlePrefabs/LightSequence.prefab
  Assets/Prefab/PuzzlePrefabs/LightsSequencePuzzle.prefab
  Assets/Prefab/PuzzlePrefabs/LightsSequencePuzzle.prefab.meta
  Assets/Prefab/PuzzlePrefabs/light&shadowRoom_Splitroom_V4 Variant.prefab
  Assets/Prefab/PuzzlePrefabs/light&shadowRoom_Splitroom_V5 Puzzle.prefab
  Assets/Prefab/PuzzlePrefabs/light&shadowRoom_Splitroom_V5 Puzzle.prefab.meta
  Assets/RiderFlow.UserData/Editor/Scenes/Bookmarks.Map/1c86c111b669dba4aaa4625537835644.userdata
  Assets/RiderFlow.UserData/Editor/Scenes/Bookmarks.Map/1c86c111b669dba4aaa4625537835644.userdata.meta
  Assets/RiderFlow.UserData/Editor/Scenes/Bookmarks.Map/20c4cf072760ca444ab96f5889e29261.userdata
  Assets/RiderFlow.UserData/Editor/Scenes/Bookmarks.Map/20c4cf072760ca444ab96f5889e29261.userdata.meta
  Assets/RiderFlow.UserData/Editor/Scenes/Bookmarks.Map/4731495ea17260f488272a664dac627b.userdata
  Assets/RiderFlow.UserData/Editor/Scenes/Bookmarks.Map/4731495ea17260f488272a664dac627b.userdata.meta
  Assets/Scenes/Puzzles/hotfixCameraSettings.unity
  Assets/Scenes/Puzzles/hotfixCameraSettings.unity.meta
  Assets/Scripts/Gameflow/CameraManager.cs
  Assets/Scripts/Gameflow/CameraManager.cs.meta
  Assets/Scripts/Gameflow/PuzzleCameras.cs
  Assets/Scripts/Gameflow/PuzzleCameras.cs.meta
  Assets/Scripts/Gameflow/Transition.cs
  Assets/Scripts/Player/Movement/DirectionSettings.asset
  Assets/Scripts/Puzzles/LightSequencePuzzle/ObjectToggler.cs
Labels: Ready for Review, Hotfix, Approved, Ready for Merge

#37 Added Complete Wallvine
  Assets/Art/Models/Vegetation/Model_WallVine_01_V1.fbx
  Assets/Art/Models/Vegetation/Model_WallVine_01_V1.fbx.meta
  Assets/Art/Textures/Vegetation.meta
  Assets/Art/Textures/Vegetation/Wallvine.meta
  Assets/Art/Textures/Vegetation/Wallvine/Texture_WallVine_Albedo_V1.png
  Assets/Art/Textures/Vegetation/Wallvine/Texture_WallVine_Albedo_V1.png.meta
  Assets/Art/Textures/Vegetation/Wallvine/Texture_WallVine_Metallic_V1.png
  Assets/Art/Textures/Vegetation/Wallvine/Texture_WallVine_Metallic_V1.png.meta
  Assets/Art/Textures/Vegetation/Wallvine/Texture_WallVine_Normal_V1.png
  Assets/Art/Textures/Vegetation/Wallvine/Texture_WallVine_Normal_V1.png.meta
  Assets/Art/Textures/Vegetation/Wallvine/Wallvine.mat
  Assets/Art/Textures/Vegetation/Wallvine/Wallvine.mat.meta
Labels: Ready for Review, Art, Approved

#41 Added Mainmenu assets
  Assets/Art/Fonts.meta
  Assets/Art/Fonts/VerveineRegular.TTF
  Assets/Art/Fonts/VerveineRegular.TTF.meta
  Assets/Art/UI/Mainmenu.meta
  Assets/Art/UI/Mainmenu/UI_Mainmenu_Background_V1.png
  Assets/Art/UI/Mainmenu/UI_Mainmenu_Background_V1.png.meta
  Assets/Art/UI/Mainmenu/UI_Mainmenu_Button_V1.png
  Assets/Art/UI/Mainmenu/UI_Mainmenu_Button_V1.png.meta
Labels: Ready for Review, Art, Approved

#42 Feature/gravity
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/LogConfiguration/backend-log.xml.meta
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/LogConfiguration/frontend-log.xml.meta
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/Resources/ReEditor/RiderDark.xml.meta
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/Resources/ReEditor/RiderLight.xml.meta
  Assets/Prefab/BaseRoom_SplitRoom_V6.prefab
  Assets/Prefab/Player.prefab
  Assets/Prefab/PuzzlePrefabs/LightsSequencePuzzle.prefab
  Assets/Prefab/PuzzlePrefabs/light&shadowRoom_Splitroom_V5 Puzzle.prefab
  Assets/Prefab/light&shadowRoom_Splitroom_V5.prefab
  Assets/Scenes/FinishedProduct/Levels.unity
  Assets/Scripts/Player/Movement/Movement.cs
  ProjectSettings/DynamicsManager.asset
  ProjectSettings/TagManager.asset
Labels: Ready for Review, Feature

#46 Fixed lighting
  Assets/Scenes/FinishedProduct/Levels.unity
  ProjectSettings/TagManager.asset
Labels: Ready for Review
