Repository DanielNijkamp/PVB, pull requests merged in 2024-04, with the labels that each got.

#6 Hotfix/player tracker
  Assets/Prefab/Player.prefab
  Assets/Scenes/Feature/TEST player join.unity
  Assets/Scenes/Feature/TEST player join.unity.meta
  Assets/Scripts/Player/CameraFocuser.cs
  Assets/Scripts/Player/CameraFocuser.cs.meta
  Assets/Scripts/Player/Movement.cs
Labels: Ready for Review, Hotfix, Approved, Ready for Merge

#8 Feature/Camera-Settings
  Assets/Scenes/Feature/CameraSetting.unity
  Assets/Scenes/Feature/CameraSetting.unity.meta
Labels: Ready for Review, Feature, Approved, Ready for Merge, Scene

#11 Artfix Map Structure
  .vsconfig
  Assets/Art/Materials/Light & Shadows.meta
  Assets/Art/Materials/Light & Shadows/glass.mat
  Assets/Art/Materials/Light & Shadows/glass.mat.meta
  Assets/Art/Models/Base Rooms.meta
  Assets/Art/Models/Base Rooms/Blockout_Normalroom_V1.fbx
  Assets/Art/Models/Base Rooms/Blockout_Normalroom_V1.fbx.meta
  Assets/Art/Models/Base Rooms/Blockout_Splitroom_V1.fbx
  Assets/Art/Models/Base Rooms/Blockout_Splitroom_V1.fbx.meta
  Assets/Art/Models/Decorations.meta
  Assets/Art/Models/Light & Shadows.meta
  Assets/Art/Models/Light & Shadows/Model_LightingPuzzle1_Circle_V1..fbx
  Assets/Art/Models/Light & Shadows/Model_LightingPuzzle1_Circle_V1..fbx.meta
  Assets/Art/Models/Lighting.meta
  Assets/Art/Models/Vegetation.meta
  Assets/Scenes/Art/ArtfixMapStructure.unity
  Assets/Scenes/Art/ArtfixMapStructure.unity.meta
Labels: Ready for Review, Art, Approved

#12 level design light and shadow
  Assets/Art/Materials/BlockOutColor.meta
  Assets/Art/Materials/BlockOutColor/Barrel.mat
  Assets/Art/Materials/BlockOutColor/Barrel.mat.meta
  Assets/Art/Materials/BlockOutColor/Houtendoos.mat
  Assets/Art/Materials/BlockOutColor/Houtendoos.mat.meta
  Assets/Art/Materials/BlockOutColor/Obstacle.mat.meta
  Assets/Art/Materials/BlockOutColor/Pilaar.mat
  Assets/Art/Materials/BlockOutColor/Vaas.mat
  Assets/Art/Materials/BlockOutColor/Vaas.mat.meta
  Assets/Art/Materials/Glass.mat
  Assets/Art/Materials/Glass.mat.meta
  Assets/Art/Materials/Light & Shadows.meta
  Assets/Art/Materials/Light & Shadows/glass.mat
  Assets/Art/Models/Base Rooms/Baseroom_Splitroom_V1.fbx
  Assets/Art/Models/Base Rooms/Baseroom_Splitroom_V1.fbx.meta
  Assets/Art/Models/Light & Shadows/Model_LightingPuzzle1_Circle_V2.fbx
  Assets/Art/Models/Light & Shadows/Model_LightingPuzzle1_Circle_V2.fbx.meta
  Assets/Art/Models/Light & Shadows/light&shadowRoom_Splitroom_V1.fbx
  Assets/Art/Models/Light & Shadows/light&shadowRoom_Splitroom_V1.fbx.meta
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/LogConfiguration/backend-log.xml.meta
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/LogConfiguration/frontend-log.xml.meta
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/Resources/ReEditor/RiderDark.xml.meta
  Assets/Plugins/Editor/JetBrains.RiderFlow/InstallationData/Resources/ReEditor/RiderLight.xml.meta
  Assets/Scenes/Art/FBX input.unity
  Assets/Scenes/Art/FBX input.unity.meta
  Assets/Scenes/Art/LevelDesign.unity
  Assets/Scenes/Art/LevelDesign.unity.meta
  Assets/Scenes/Art/LevelDesignLightAndShadow.unity
  Assets/Scenes/Art/LevelDesignLightAndShadow.unity.meta
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
Labels: Ready for Review, Art, Approved, Ready for Merge

#14 Feature/player interactivity
  Assets/Prefab/Player.prefab
  Assets/Scenes/Feature/PlayerInteraction.unity
  Assets/Scenes/Feature/PlayerInteraction.unity.meta
  Assets/Scripts/Framework/Events.meta
  Assets/Scripts/Framework/Events/EventTrigger.cs
  Assets/Scripts/Framework/Events/EventTrigger.cs.meta
  Assets/Scripts/Player/Interaction.meta
  Assets/Scripts/Player/Interaction/Grab.cs
  Assets/Scripts/Player/Interaction/Grab.cs.meta
  Assets/Scripts/Player/Interaction/Grabable.cs
  Assets/Scripts/Player/Interaction/Grabable.cs.meta
  Assets/Scripts/Player/Interaction/Interactable.cs
  Assets/Scripts/Player/Interaction/Interactable.cs.meta
  Assets/Scripts/Player/Movement.meta
  Assets/Scripts/Player/Movement/Direction.cs
  Assets/Scripts/Player/Movement/Direction.cs.meta
  Assets/Scripts/Player/Movement/DirectionMediator.cs
  Assets/Scripts/Player/Movement/DirectionMediator.cs.meta
  Assets/Scripts/Player/Movement/DirectionSetting.cs
  Assets/Scripts/Player/Movement/DirectionSetting.cs.meta
  Assets/Scripts/Player/Movement/DirectionSettings.asset
  Assets/Scripts/Player/Movement/DirectionSettings.asset.meta
  Assets/Scripts/Player/Movement/DirectionSettings.cs
  Assets/Scripts/Player/Movement/DirectionSettings.cs.meta
  Assets/Scripts/Player/Movement/Movement.cs
  Assets/Scripts/Player/Movement/Movement.cs.meta
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
  ProjectSettings/TagManager.asset
Labels: Ready for Review, Feature, Approved, Ready for Merge

#18 FBX imported
  Assets/Art/Models/Decorations/Model_Claypot_01_V1.fbx
  Assets/Art/Models/Decorations/Model_Claypot_01_V1.fbx.meta
  Assets/Art/Models/Decorations/Model_Claypot_02_V1.fbx
  Assets/Art/Models/Decorations/Model_Claypot_02_V1.fbx.meta
  Assets/Art/Models/Decorations/Model_Cobweb_01_V1.fbx
  Assets/Art/Models/Decorations/Model_Cobweb_01_V1.fbx.meta
  Assets/Art/Models/Decorations/Model_Crate_01_V1.fbx
  Assets/Art/Models/Decorations/Model_Crate_01_V1.fbx.meta
  Assets/Art/Models/Decorations/Model_Pillar_Full_V1.fbx
  Assets/Art/Models/Decorations/Model_Pillar_Full_V1.fbx.meta
  Assets/Art/Models/Decorations/Model_Pillar_Half_V1.fbx
  Assets/Art/Models/Decorations/Model_Pillar_Half_V1.fbx.meta
  Assets/Art/Models/Decorations/Model_Smallstone_01_V1.fbx
  Assets/Art/Models/Decorations/Model_Smallstone_01_V1.fbx.meta
  Assets/Art/Models/Decorations/Model_Vase_01_V1.fbx
  Assets/Art/Models/Decorations/Model_Vase_01_V1.fbx.meta
  Assets/Art/Models/Decorations/Model_Vase_02_V1.fbx
  Assets/Art/Models/Decorations/Model_Vase_02_V1.fbx.meta
  Assets/Art/Models/Decorations/Model_Vase_03_V1.fbx
  Assets/Art/Models/Decorations/Model_Vase_03_V1.fbx.meta
  Assets/Art/Models/Light Matching.meta
  Assets/Art/Models/Light Matching/Model_Lightbutton_01_V1.fbx
  Assets/Art/Models/Light Matching/Model_Lightbutton_01_V1.fbx.meta
  Assets/Art/Models/Pressureplates.meta
  Assets/Art/Models/Pressureplates/Model_Pressureplate_01_V1.fbx
  Assets/Art/Models/Pressureplates/Model_Pressureplate_01_V1.fbx.meta
  Assets/Art/Models/Statues.meta
  Assets/Art/Models/Statues/Model_Middlepoint_01_V1.fbx
  Assets/Art/Models/Statues/Model_Middlepoint_01_V1.fbx.meta
  Assets/Art/Models/Statues/Model_Statue_01_V1.fbx
  Assets/Art/Models/Statues/Model_Statue_01_V1.fbx.meta
  Assets/Art/Models/Statues/Model_Turnwheel_01_V1.fbx
  Assets/Art/Models/Statues/Model_Turnwheel_01_V1.fbx.meta
Labels: Ready for Review, Art, Approved

#17 fixed pivot to the Rooms
  Assets/Art/Models/Base Rooms/Baseroom_Splitroom_V4.fbx
  Assets/Art/Models/Base Rooms/Baseroom_Splitroom_V4.fbx.meta
  Assets/Prefab/BaseRoom_SplitRoom_V4.prefab
  Assets/Prefab/BaseRoom_SplitRoom_V4.prefab.meta
  Assets/Prefab/light&shadowRoom_Splitroom_V3.prefab
Labels: Ready for Review, Artfix, Ready for Merge

#20 Fixed force release
  Assets/Scenes/Feature/ShadowLightPuzzle.unity
  Assets/Scripts/Player/Interaction/Grab.cs
  Assets/Scripts/Player/Interaction/Grabable.cs
  Assets/Scripts/ShadowPuzzle/Pillar.cs
  ProjectSettings/Packages/com.unity.probuilder/Settings.json
Labels: Ready for Review, Hotfix, Approved, Ready for Merge

#21 Added UI popups
  Assets/Art/UI/Popups.meta
  Assets/Art/UI/Popups/UI_Crossinteractblack_01_V1.png
  Assets/Art/UI/Popups/UI_Crossinteractblack_01_V1.png.meta
  Assets/Art/UI/Popups/UI_Crossinteractblack_02_V1.png
  Assets/Art/UI/Popups/UI_Crossinteractblack_02_V1.png.meta
  Assets/Art/UI/Popups/UI_Crossinteractwhite_01_V1.png
  Assets/Art/UI/Popups/UI_Crossinteractwhite_01_V1.png.meta
  Assets/Art/UI/Popups/UI_Crossinteractwhite_02_V1.png
  Assets/Art/UI/Popups/UI_Crossinteractwhite_02_V1.png.meta
  Assets/Art/UI/Popups/UI_Squareinteractblack_01_V1.png
  Assets/Art/UI/Popups/UI_Squareinteractblack_01_V1.png.meta
  Assets/Art/UI/Popups/UI_Squareinteractblack_02_V1.png
  Assets/Art/UI/Popups/UI_Squareinteractblack_02_V1.png.meta
  Assets/Art/UI/Popups/UI_Squareinteractwhite_01_V1.png
  Assets/Art/UI/Popups/UI_Squareinteractwhite_01_V1.png.meta
  Assets/Art/UI/Popups/UI_Squareinteractwhite_02_V1.png
  Assets/Art/UI/Popups/UI_Squareinteractwhite_02_V1.png.meta
Labels: Ready for Review, Art

#22 Added new version of pillars for puzzle
  Assets/Art/Models/Light & Shadows/Model_CircleLightingpuzzle_01_V1.fbx
  Assets/Art/Models/Light & Shadows/Model_CircleLightingpuzzle_01_V1.fbx.meta
  Assets/Art/Models/Light & Shadows/Model_CircleLightingpuzzle_02_V1.fbx
  Assets/Art/Models/Light & Shadows/Model_CircleLightingpuzzle_02_V1.fbx.meta
  Assets/Art/Models/Light & Shadows/Model_CircleLightingpuzzle_03_V1.fbx
  Assets/Art/Models/Light & Shadows/Model_CircleLightingpuzzle_03_V1.fbx.meta
  Assets/Art/Models/Light & Shadows/Model_CircleLightingpuzzle_04_V1.fbx
  Assets/Art/Models/Light & Shadows/Model_CircleLightingpuzzle_04_V1.fbx.meta
Labels: Ready for Review, Artfix, Approved, Ready for Merge

#16 Feature/puzzle1
  Assets/Material/Glass.mat
  Assets/Material/Glass.mat.meta
  Assets/Prefab/Components.meta
  Assets/Prefab/Components/Pillar(2).prefab
  Assets/Prefab/Components/Pillar(2).prefab.meta
  Assets/Prefab/Components/Pillar(3).prefab
  Assets/Prefab/Components/Pillar(3).prefab.meta
  Assets/Prefab/Components/Pillar(4).prefab
  Assets/Prefab/Components/Pillar(4).prefab.meta
  Assets/Prefab/Components/Pillar.prefab
  Assets/Prefab/Components/Pillar.prefab.meta
  Assets/RiderFlow.UserData/Editor/Scenes/Bookmarks.Map/8cc17717508697e4e9c4e2ec57fc5d04.userdata
  Assets/RiderFlow.UserData/Editor/Scenes/Bookmarks.Map/8cc17717508697e4e9c4e2ec57fc5d04.userdata.meta
  Assets/Scenes/Feature/ShadowLightPuzzle.unity
  Assets/Scenes/Puzzles.meta
  Assets/Scenes/Puzzles/Puzzle1.unity
  Assets/Scenes/Puzzles/Puzzle1.unity.meta
  Assets/Scripts/ShadowPuzzle/Pillar.cs
  Assets/Scripts/ShadowPuzzle/PillarManager.cs
  Assets/Scripts/ShadowPuzzle/PillarManager.cs.meta
Labels: Ready for Review, Feature, Approved
